.resume {
    display: flex;
    flex-direction: column;
    
    &__section {
        margin-bottom: 2rem;
        padding: 0 10%;
    }

    &__header {
        @extend .heading-secondary;
        font-size: 3rem;
        font-weight: 400;
        border-bottom: 2px solid $color-primary;
        margin-bottom: 2rem;

        &--sub {
            @extend .heading-tertiary;
            font-weight: 400;
            margin-bottom: 1rem;
        }
    }

    &__text {
        @extend .paragraph;

        margin-left: 3rem;
        margin-bottom: 1rem !important;
    }
}