// COLORS
$color-primary: #5ef18f;
$color-primary-light: #8fe5ac;
$color-primary-dark: #2dd665;

$color-secondary: #faf897;
$color-secondary-light: #fcfbc7;
$color-secondary-dark: #fffc50;

$color-tertiary: #55c5c0;
$color-tertiary-light: #82e7e2;
$color-tertiary-dark: #449e9a;

$color-grey-1: #eeeeee;
$color-grey-2: #c2c2c2;
$color-grey-3: #b8b8b8;
$color-grey-4: #999;
$color-grey-5: #777;
$color-grey-6: #333;

$color-success: #55c57a;
$color-warning: #c7af2b;
$color-error: #c73d2b;

$color-background: #20082e;
$color-area: #321246;

$color-white: #fff;
$color-black: #000;